.jumbotron{ text-align: center;
color: white;
background-color: black;
border: .5px solid red;}
span{
    color: red;
}
.jumbotron p{
    color: red;
}
#cardsbutton{
    background-color: red;
    color: white;
    margin: auto;
}
.button1{
    display: flex;
    margin-top: 15px;
}
footer{
    background-color:black;
    color: red;
    
}
.fab{
    color: red;
}
a{
    color: red;
    text-decoration: none;
}
.landing {
    margin-top: 100px;
}
.img {
    width: 100%;
}
.page-footer {
    padding: 0.75rem 1.25rem;
    padding-bottom: 0px;
    border-radius: 0px 0px 10px 10px;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    color: #000;
    background-color: #fff;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 10px;
    margin-top: 15px;
    /* display: grid; */
    /* grid-template-columns: 1.2fr 1.2fr 1.2fr; */
  
}
#sameheight {
    min-height: 200px;
}
.image-fluid {
    height: 18em;
}

