<!-- {% extends 'news.html' %}

{% block content %}

<div class="container-fluid landing">
    <div class="row">
        {% for source in newsSource %}
            <div class="col-md-3 d-flex justify-content-center source-body">
                <div class="card bg-dark">
                    <div class="card-body">
                        <a href="{{ source.url }}" target="_blank">
                            <h5 class="card-title"> {{ source.name }}</h5>
                            <p class="card-text">{{ source.description }}</p>
                        </a>
                    </div>
                  </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %} -->